@charset "UTF-8";
/* Empty. Add your own CSS if you like */
.f_l {
  float: left; }

.f_r {
  float: right; }

[nav-view="cached"], [nav-bar="cached"] {
  display: none !important; }

.home {
  display: -webkit-flex;
  height: 100%;
  background: url(../img/home/bg.png); }
  .home .home-left-panel {
    float: left;
    width: 50px;
    height: 100%;
    background: url("../img/home/l_bg_01.png") no-repeat;
    background-size: 100% 100%;
    display: -webkit-flex;
    /* Safari */
    -webkit-align-items: center;
    /* Safari 7.0+ */
    position: relative;
    z-index: 999; }
  .home .home-right-panel {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    flex-direction: column; }
    .home .home-right-panel .home-header {
      width: 100%;
      height: 72px;
      background: url("../img/home/top_bg.png") no-repeat;
      background-size: 100% 100%;
      box-sizing: border-box;
      display: -webkit-flex;
      position: absolute;
      top: 0;
      z-index: 4;
      padding: 22px 0 5px 20px;
      -webkit-align-items: flex-end; }
    .home .home-right-panel .home-content {
      margin-top: 72px;
      width: 100%;
      height: 100%;
      position: relative;
      background-color: transparent !important; }
      .home .home-right-panel .home-content .room-ul {
        height: 100%; }
  .home .main-footer {
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4; }
    .home .main-footer .home-footer {
      width: 100%;
      height: 100%;
      /*background: url("../img/home/zy_11.png")no-repeat;*/
      background: RGBA(0, 0, 0, 0.5);
      background-size: 100% 100%;
      /*opacity:0.5;*/
      z-index: 100;
      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      position: relative;
      -webkit-animation: fadeOutAni1 1s ease forwards; }

body {
  background: url(../img/home/bg.png) no-repeat; }

.home-bg {
  background: url("../img/home/roomBG.png") no-repeat center center; }

.mainContent {
  background: url("../img/home/bg.png") no-repeat center center; }
  .mainContent .map {
    position: absolute;
    left: 25px;
    top: 25px; }

.home-footer ul {
  visibility: hidden; }

.home .main-footer.footerShow .home-footer {
  -webkit-animation: fadeInAni1 1s ease forwards; }
  .home .main-footer.footerShow .home-footer ul {
    visibility: visible; }

.shade {
  visibility: hidden; }

@-webkit-keyframes fadeInAni1 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOutAni1 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-webkit-keyframes fadeInAni {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    visibility: visible; } }
@-webkit-keyframes fadeOutAni {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0;
    visibility: hidden; } }
@-webkit-keyframes circleFadeInAni {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    visibility: visible; } }
@-webkit-keyframes circleFadeOutAni {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    visibility: hidden; } }
.home-footer li {
  width: 120px;
  height: 120px;
  display: inline-block;
  margin: 0 30px;
  color: #fff;
  text-align: center;
  line-height: 110px;
  font-size: 26px; }

.home-footer .footer-circle {
  position: absolute; }

.home-footer .footer-circle li {
  border: 5px solid #ccc;
  border-radius: 50%;
  position: relative;
  transition: all 1s ease; }

.home-footer.fadeOut {
  transition: all 1.5s ease;
  opacity: 0;
  visibility: hidden; }

.home-footer.fadeOut li {
  transition: all 1s ease;
  /*transform: translateY(-8px);*/
  /*transition-duration*/ }

.home-footer.fadeOut li:nth-child(1) {
  transition-duration: .8s; }

.home-footer.fadeOut li:nth-child(2) {
  transition-duration: .6s; }

.home-footer.fadeOut li:nth-child(3) {
  transition-duration: .4s; }

.home-footer.fadeOut li:nth-child(4) {
  transition-duration: .2s; }

.home-footer li .l {
  position: absolute;
  left: -5px;
  top: -5px;
  width: 120px;
  height: 120px;
  border: 5px solid RGBA(67, 236, 200, 0.5);
  border-radius: 50%;
  clip: rect(0px, 60px, 120px, 0px);
  -webkit-transform: rotate(-80deg); }

.home-footer li .l:after {
  content: ' ';
  width: 104px;
  height: 104px;
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 50%;
  border: 1px solid #fff; }

.home-footer li .r {
  position: absolute;
  left: -5px;
  top: -5px;
  width: 120px;
  height: 120px;
  border: 5px solid RGBA(67, 236, 200, 1);
  border-radius: 50%;
  clip: rect(0px, 120px, 120px, 60px); }

.home-footer li .r:after {
  content: ' ';
  width: 104px;
  height: 104px;
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 50%;
  border: 1px solid #fff; }

.home-footer .home-footer-active {
  -webkit-animation: rotate 3s linear infinite forwards; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
.welcome-bg {
  background: url("../img/home/wel_bg.png");
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  -webkit-filter: blur(5px);
  display: -webkit-flex;
  position: absolute;
  /*left:0;*/
  top: 0;
  z-index: 5;
  -webkit-animation: fadeInOut 5s ease forwards; }

.room-ul > li:nth-child(1) {
  position: absolute;
  top: 240px;
  left: 190px;
  background: url("../img/home/room_31.png");
  width: 46px;
  height: 47px;
  background-size: 100% 100%; }

.room-ul > li:nth-child(2) {
  position: absolute;
  top: 150px;
  left: 330px;
  background: url("../img/home/room_31.png");
  width: 46px;
  height: 47px;
  background-size: 100% 100%; }

.room-ul > li:nth-child(3) {
  position: absolute;
  top: 155px;
  left: 445px;
  /*background: url("../img/home/room_31.png");*/
  width: 46px;
  height: 47px;
  background-size: 100% 100%; }

.room-ul > li:nth-child(4) {
  position: absolute;
  top: 155px;
  left: 548px;
  /*background: url("../img/home/room_31.png");*/
  width: 46px;
  height: 47px;
  background-size: 100% 100%; }

.room-ul > li:nth-child(5) {
  position: absolute;
  top: 190px;
  left: 670px;
  background: url("../img/home/room_31.png");
  width: 46px;
  height: 47px;
  background-size: 100% 100%; }

.room-ul > li:nth-child(6) {
  position: absolute;
  top: 350px;
  left: 240px;
  background: url("../img/home/room_31.png");
  width: 46px;
  height: 47px;
  background-size: 100% 100%; }

.room-ul > li:nth-child(7) {
  position: absolute;
  top: 300px;
  left: 410px;
  background: url("../img/home/room_31.png");
  width: 46px;
  height: 47px;
  background-size: 100% 100%; }

.room-ul > li:nth-child(8) {
  position: absolute;
  top: 400px;
  left: 630px;
  background: url("../img/home/room_31.png");
  width: 46px;
  height: 47px;
  background-size: 100% 100%; }

.room-ul > li:nth-child(9) {
  position: absolute;
  top: 460px;
  left: 190px;
  width: 46px;
  height: 47px;
  background-size: 100% 100%; }

.room-ul > li:nth-child(10) {
  position: absolute;
  top: 460px;
  left: 375px;
  background: url("../img/home/entrance.png");
  width: 30px;
  height: 30px;
  background-size: 100% 100%; }

.room-ul > li:nth-child(11) {
  position: absolute;
  top: 460px;
  left: 470px;
  width: 46px;
  height: 47px;
  background-size: 100% 100%; }

.room-ul > li {
  -webkit-transition: all 0.5s ease; }

.room-ul > li:hover {
  /*-webkit-transform: scale(1.2);*/
  width: 50px;
  height: 50px; }

.room-ul > li:hover .info {
  -webkit-animation: circleFadeInAni .5s ease forwards; }

.room-ul > li:hover .control {
  -webkit-animation: circleFadeInAni 1s ease forwards; }

.room-info .room-info-lab {
  color: #FFF;
  font-family: '微软雅黑';
  font-size: 16px;
  font-weight: 200;
  white-space: nowrap; }

.room-ul > li:nth-child(1) .room-info {
  position: absolute;
  text-align: center;
  top: 40px;
  left: -30px; }

.room-ul > li:nth-child(2) .room-info {
  position: absolute;
  text-align: center;
  top: 40px;
  left: -30px; }

.room-ul > li:nth-child(3) .room-info {
  position: absolute;
  text-align: center;
  top: 40px;
  left: -10px; }

.room-ul > li:nth-child(4) .room-info {
  position: absolute;
  text-align: center;
  top: 40px;
  left: -10px; }

.room-ul > li:nth-child(5) .room-info {
  position: absolute;
  text-align: center;
  top: 40px;
  left: -40px; }

.room-ul > li:nth-child(6) .room-info {
  position: absolute;
  text-align: center;
  top: 40px;
  left: -10px; }

.room-ul > li:nth-child(7) .room-info {
  position: absolute;
  text-align: center;
  top: 40px;
  left: -20px; }

.room-ul > li:nth-child(8) .room-info {
  position: absolute;
  text-align: center;
  top: 40px;
  left: -20px; }

.room-ul > li:nth-child(9) .room-info {
  position: absolute;
  text-align: center;
  top: 40px;
  left: -10px; }

.room-ul > li:nth-child(10) .room-info {
  position: absolute;
  text-align: center;
  top: 40px;
  left: -20px; }

.room-ul > li:nth-child(11) .room-info {
  position: absolute;
  text-align: center;
  top: 40px;
  left: -10px; }

.room-ul > li:nth-child(10):hover {
  width: 30px;
  height: 30px; }

.welcome {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -135px;
  padding: 50px 60px 50px 100px;
  width: 600px;
  height: 270px;
  -webkit-box-sizing: border-box;
  background: url(../img/welcome_05.png) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 24px;
  -webkit-animation: fadeInOut 5s ease forwards;
  z-index: 6; }

.welcome div {
  margin-top: 30px; }

.welcome div span {
  margin-top: 12px;
  font-size: 16px; }

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px); }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  60% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden; } }
.main-left-menu {
  background: url("../img/home/welcome_02.png") no-repeat;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  display: block; }

.main-left-users {
  background: url("../img/home/welcome_08.png") no-repeat;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  display: block; }

.main-left-call {
  background: url("../img/home/welcome_10.png") no-repeat;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  display: block; }

.main-left-exit {
  background: url("../img/home/welcome_13.png") no-repeat;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  display: block; }

.top-logo {
  width: 130px;
  height: 30px;
  background: url("../img/home/logo.png") no-repeat;
  background-size: 100% 100%; }

.top-date {
  width: 178px;
  height: 32px;
  font-size: 17px;
  padding-top: 4px;
  box-sizing: border-box;
  background: url(../img/home/spirit.png) -71px -99px;
  padding-left: 50px;
  color: #00d5c3; }

.top-weather {
  margin-left: 20px; }

.top-icon {
  width: 254px;
  height: 36px;
  padding-left: 4px;
  padding-top: 5px; }

.top-icon span {
  display: block;
  width: 40px;
  height: 25px;
  position: relative;
  float: left;
  margin-left: 8px;
  background-image: url(../img/home/spirit.png); }

.top-icon span i {
  display: block;
  width: 18px;
  height: 18px;
  background: red;
  color: white;
  border-radius: 50% 50%;
  position: absolute;
  font-style: normal;
  text-align: center;
  line-height: 18px;
  top: 0;
  right: -2px; }

.top-icon span:nth-child(1) {
  background-position: 0 0px; }

.top-icon span:nth-child(1).on {
  background-position: 0 -66px; }

.top-icon span:nth-child(2) {
  background-position: -35px 0px; }

.top-icon span:nth-child(2).on {
  background-position: -35px -67px; }

.top-icon span:nth-child(3) {
  background-position: -0px -31px; }

.top-icon span:nth-child(3).on {
  background-position: -0px -102px; }

.top-icon span:nth-child(4) {
  background-position: -40px -30px; }

.top-icon span:nth-child(4).on {
  background-position: -40px -102px; }

.top-icon span:nth-child(5) {
  background-position: -80px -31px; }

.top-icon span:nth-child(5).on {
  background-position: -80px -66px; }

.society-group {
  display: -webkit-flex;
  width: 100%;
  height: 100%;
  background: url(../img/home/bg.png) no-repeat; }

.society-map {
  width: 70%;
  height: 100%;
  background: url("../img/home/3_03.png") no-repeat;
  background-size: 100% 100%;
  left: 0; }

.society-items {
  width: 30%;
  height: 100%;
  background: url("../img/home/commnityNoticy.png") no-repeat;
  background-size: 100% 100%; }

.life-group {
  display: -webkit-flex;
  width: 100%;
  height: 100%;
  background: url(../img/home/bg.png) no-repeat; }

.neighbor-group {
  display: -webkit-flex;
  width: 100%;
  height: 100%;
  background: url(../img/home/bg.png) no-repeat; }

.info {
  position: absolute;
  color: #fff;
  top: 0;
  left: 100%;
  padding: 0px 5px 0 16px;
  height: 43px;
  line-height: 43px;
  width: 200px;
  border-radius: 4%;
  white-space: nowrap;
  visibility: hidden;
  background: url(../img/home/buttonAll.png) no-repeat 0px 0px; }

.info li {
  background: url(../img/home/buttonAll.png) no-repeat -6px -58px;
  width: 26px;
  height: 100%;
  display: inline-block;
  margin: 0 2px; }

.info li:nth-child(2) {
  background-position-x: -47px; }

.info li:nth-child(3) {
  background-position-x: -84px; }

.info li:nth-child(4) {
  background-position-x: -129px; }

.info li:nth-child(5) {
  background-position-x: -170px; }

.info li.active {
  background: url(../img/home/buttonAll.png) no-repeat -6px -97px;
  width: 26px;
  height: 100%;
  display: inline-block;
  margin: 0 2px; }

.info li:nth-child(2).active {
  background-position-x: -47px; }

.info li:nth-child(3).active {
  background-position-x: -84px; }

.info li:nth-child(4).active {
  background-position-x: -129px; }

.info li:nth-child(5).active {
  background-position-x: -170px; }

.control {
  position: absolute;
  color: #fff;
  top: -55px;
  left: -60px;
  padding: 0;
  line-height: 55px;
  white-space: nowrap;
  width: 169px;
  height: 54px;
  background: url(../img/home/buttonAll.png) 0 -57px no-repeat;
  visibility: hidden;
  background-position: 0 -150px; }

.control.active-1 {
  background-position: 0 -235px; }

.control.active-2 {
  background-position: -173px -235px; }

.control.active-3 {
  background-position: -173px -151px; }

.control .zm {
  width: 28%;
  height: 100%;
  display: inline-block;
  margin: 0 2px; }

.control .wx {
  width: 28%;
  height: 100%;
  display: inline-block;
  margin: 0 2px; }

.control .jn {
  width: 28%;
  height: 100%;
  display: inline-block;
  margin: 0 2px; }

.shade {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99; }

.footerShow .shade {
  visibility: visible; }

/*窗帘*/
.curtain, .room1-bg ul li:nth-child(1), .room3-bg ul li:nth-child(7) {
  position: absolute;
  background-position: -84px -265px; }
  .curtain.open, .room1-bg ul li.open:nth-child(1), .room3-bg ul li.open:nth-child(7) {
    background-position: -84px -203px; }

/*风扇 空调*/
.fans, .room1-bg ul li:nth-child(4), .room3-bg ul li:nth-child(1), .room3-bg ul li:nth-child(8) {
  position: absolute;
  background-position: 0 -265px; }
  .fans.open, .room1-bg ul li.open:nth-child(4), .room3-bg ul li.open:nth-child(1), .room3-bg ul li.open:nth-child(8) {
    background-position: 0 -203px; }

/*灯*/
.lamp, .room1-bg ul li:nth-child(2), .room1-bg ul li:nth-child(3), .room3-bg ul li:nth-child(2), .room3-bg ul li:nth-child(3), .room3-bg ul li:nth-child(4), .room3-bg ul li:nth-child(5), .room3-bg ul li:nth-child(6), .room4-bg ul li:nth-child(1), .room5-bg ul li:nth-child(1), .room5-bg ul li:nth-child(2), .room5-bg ul li:nth-child(3), .room6-bg ul li:nth-child(1), .room6-bg ul li:nth-child(2), .room6-bg ul li:nth-child(3), .room6-bg ul li:nth-child(4), .room6-bg ul li:nth-child(5) {
  position: absolute;
  background-position: -126px -265px; }
  .lamp.open, .room1-bg ul li.open:nth-child(2), .room1-bg ul li.open:nth-child(3), .room3-bg ul li.open:nth-child(2), .room3-bg ul li.open:nth-child(3), .room3-bg ul li.open:nth-child(4), .room3-bg ul li.open:nth-child(5), .room3-bg ul li.open:nth-child(6), .room4-bg ul li.open:nth-child(1), .room5-bg ul li.open:nth-child(1), .room5-bg ul li.open:nth-child(2), .room5-bg ul li.open:nth-child(3), .room6-bg ul li.open:nth-child(1), .room6-bg ul li.open:nth-child(2), .room6-bg ul li.open:nth-child(3), .room6-bg ul li.open:nth-child(4), .room6-bg ul li.open:nth-child(5) {
    background-position: -126px -203px; }

/*电器*/
.appliances, .room1-bg ul li:nth-child(5), .room3-bg ul li:nth-child(9) {
  position: absolute;
  background-position: -40px -265px; }
  .appliances.open, .room1-bg ul li.open:nth-child(5), .room3-bg ul li.open:nth-child(9) {
    background-position: -40px -203px; }

.room1-bg {
  display: -webkit-flex;
  width: 100%;
  height: 100%; }
  .room1-bg ul {
    background: url(../img/home/2.png) no-repeat center -60px;
    height: 100%;
    width: 100%; }
    .room1-bg ul li {
      background: url("../img/home/spirit.png");
      width: 46px;
      height: 47px; }
      .room1-bg ul li .room-switch-title {
        color: #FFF;
        font-family: '微软雅黑';
        font-size: 16px;
        font-weight: 200;
        white-space: nowrap;
        position: absolute;
        text-align: center;
        top: -20px; }
    .room1-bg ul li:nth-child(1) {
      top: 230px;
      left: 170px; }
    .room1-bg ul li:nth-child(1).open {
      background-position: -84px -207px; }
    .room1-bg ul li:nth-child(2) {
      top: 210px;
      left: 320px; }
    .room1-bg ul li:nth-child(3) {
      top: 100px;
      left: 445px; }
    .room1-bg ul li:nth-child(4) {
      top: 235px;
      left: 700px; }
    .room1-bg ul li:nth-child(5) {
      top: 510px;
      left: 430px; }

.room2-bg {
  display: -webkit-flex;
  width: 100%;
  height: 100%; }
  .room2-bg ul {
    background: url(../img/home/3.png) no-repeat center -70px;
    height: 100%;
    width: 100%; }

.room3-bg {
  display: -webkit-flex;
  width: 100%;
  height: 100%; }
  .room3-bg ul {
    background: url(../img/home/5.png) no-repeat center center;
    height: 100%;
    width: 100%; }
    .room3-bg ul li {
      background: url("../img/home/spirit.png");
      width: 46px;
      height: 47px; }
      .room3-bg ul li .room-switch-title {
        color: #FFF;
        font-family: '微软雅黑';
        font-size: 16px;
        font-weight: 200;
        white-space: nowrap;
        position: absolute;
        text-align: center;
        top: -20px; }
    .room3-bg ul li:nth-child(1) {
      top: 210px;
      left: 115px; }
    .room3-bg ul li:nth-child(2) {
      top: 290px;
      left: 103px; }
    .room3-bg ul li:nth-child(3) {
      top: 104px;
      left: 264px; }
    .room3-bg ul li:nth-child(4) {
      top: 206px;
      left: 536px; }
    .room3-bg ul li:nth-child(5) {
      top: 139px;
      left: 539px; }
    .room3-bg ul li:nth-child(6) {
      top: 206px;
      left: 653px; }
    .room3-bg ul li:nth-child(7) {
      top: 253px;
      left: 794px; }
    .room3-bg ul li:nth-child(8) {
      top: 445px;
      left: 651px; }
    .room3-bg ul li:nth-child(9) {
      top: 500px;
      left: 554px; }

.room4-bg {
  display: -webkit-flex;
  width: 100%;
  height: 100%; }
  .room4-bg ul {
    background: url(../img/home/4.1.png) no-repeat center center;
    height: 100%;
    width: 100%; }
    .room4-bg ul li {
      background: url("../img/home/spirit.png");
      width: 46px;
      height: 47px; }
      .room4-bg ul li .room-switch-title {
        color: #FFF;
        font-family: '微软雅黑';
        font-size: 16px;
        font-weight: 200;
        white-space: nowrap;
        position: absolute;
        text-align: center;
        top: -20px; }
    .room4-bg ul li:nth-child(1) {
      top: 356px;
      left: 693px; }

.room5-bg {
  display: -webkit-flex;
  width: 100%;
  height: 100%; }
  .room5-bg ul {
    background: url(../img/home/4.2.png) no-repeat center center;
    height: 100%;
    width: 100%; }
    .room5-bg ul li {
      background: url("../img/home/spirit.png");
      width: 46px;
      height: 47px; }
      .room5-bg ul li .room-switch-title {
        color: #FFF;
        font-family: '微软雅黑';
        font-size: 16px;
        font-weight: 200;
        white-space: nowrap;
        position: absolute;
        text-align: center;
        top: -20px; }
    .room5-bg ul li:nth-child(1) {
      top: 200px;
      left: 400px; }
    .room5-bg ul li:nth-child(2) {
      top: 390px;
      left: 300px; }
    .room5-bg ul li:nth-child(3) {
      top: 300px;
      left: 300px; }

.room6-bg {
  display: -webkit-flex;
  width: 100%;
  height: 100%; }
  .room6-bg ul {
    background: url(../img/home/1.png) no-repeat center center;
    height: 100%;
    width: 100%; }
    .room6-bg ul li {
      background: url("../img/home/spirit.png");
      width: 46px;
      height: 47px; }
      .room6-bg ul li .room-switch-title {
        color: #FFF;
        font-family: '微软雅黑';
        font-size: 16px;
        font-weight: 200;
        white-space: nowrap;
        position: absolute;
        text-align: center;
        top: -20px; }
    .room6-bg ul li:nth-child(1) {
      top: 200px;
      left: 380px; }
    .room6-bg ul li:nth-child(2) {
      top: 160px;
      left: 270px; }
    .room6-bg ul li:nth-child(3) {
      top: 300px;
      left: 400px; }
    .room6-bg ul li:nth-child(4) {
      top: 400px;
      left: 500px; }
    .room6-bg ul li:nth-child(5) {
      top: 400px;
      left: 700px; }

.room-header {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%); }
  .room-header .room-header-lab {
    color: #FFF;
    font-family: '微软雅黑';
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    display: block; }

/*# sourceMappingURL=style.css.map */
